/*
  Imported fonts
*/
@font-face {
  font-family: "Cooper-Hewitt";
  src: local('Cooper-Hewitt'),
    url(./fonts/cooper-hewitt/CooperHewitt-HeavyItalic.otf)
    format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Cooper-Hewitt";
  src: local("Cooper-Hewitt"),
    url(./fonts/cooper-hewitt/CooperHewitt-Book.otf)
    format("opentype");
  font-weight: 300;
}

/*
  Standard styling for the following tags:
  body
  code
  h1, h2, h3, h4, h5, h6
*/
body {
  margin: 0;
  font-family: "Cooper-Hewitt", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Cooper-Hewitt", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #292940;
}